body {
  background-color: black;
  overflow-x: hidden;
}

img,
video {
  min-height: 100vh;
  width: 50%;
  margin: auto;
  display: block;
  z-index: -1;
  object-fit: scale-down;
}

h1 {
  position: relative;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}
